* {
    margin: 0;
    padding: 0;
    font-style: normal;
    box-sizing: border-box;

}

body {
    max-width: 1220px;
    margin: auto;

}

.container {
    display: flex;
    justify-content: space-between;
    height: 100vh;
    align-items: center;
}

.container .left {
    max-width: 590px;
}

.container .left p {
    color: var(--text-txt-secondary, rgba(60, 60, 67, 0.85));
    font: 400 24px Inter;
}

.container .left h1 {
    color: var(--text-txt-primary, #000);
    font: 700 48px Inter;
    margin-bottom: 40px;
}

.container .left .buttons {
    display: flex;
}

.container .left .buttons div:not(:last-child) {
    margin-right: 24px;
}

.container .left .buttons .button1,
.container .left .buttons .button2 {

    width: 145px;
    border-radius: 8px;
    background: var(--brand-primary, #6F1DF4);
    color: var(--pallete-white, #FFF);
    text-align: center;
    font: 700 16px Inter;
    padding: 18px 0;

}

.container .right {
    height: 18%;
    width: 510px;
    max-width: 100%;
    background-image: url(./assets/0404.png);
    background-repeat: no-repeat;
    background-size: contain;

}

@media (max-width: 720px) {



    .container {
        flex-direction: column-reverse;
        height: 350px;
        align-items: center;
    }

    .container .left h1 {
        font: 700 32px Inter;
        text-align: center;
    }

    .container .left p {
        font: 400 20px Inter;
        text-align: center;

    }

    .container .left .buttons {
        margin: auto;
        justify-content: center;
    }

    .container .right {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 250px;
        height: 36%;
        /* margin-top: 70px; */
    }

}

@media (max-width: 343px) {

    .container {
        margin-top: 50px;

    }

    .container .left .buttons {
        margin-bottom: auto;
        flex-direction: column;
    }

    .container .left .buttons .button1 {
        margin-bottom: 20px;
        width: 100%;
    }

    .container .left .buttons .button2 {
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .container .right {
       display: flex;
        width: 100%;
        justify-content: center;
        width: 170px;
        height: 20%;
    }

}